/* Основные стили */
body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
}

h2 {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: bold;
  color: #324152;
  font-size: 28px;
  
}

.tabs {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #2a6cc3;
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.tab-pane h3,
.sitelinks-title {
  margin-top: 0;
  color: #324152;
  font-weight: bold;
  font-size: 14px;
}

.tab-content {
  display: flex;
  border-top: 1px solid #b1b1b1;
  padding-top: 20px; 
}

.tab-pane {
  flex: 1;
  padding: 0 10px;
  position: relative;
}

.tab-pane:first-child {
  border-left: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.content p {
  margin: 5px 0;
  color: #324152; 
}

.sitelinks-title {
  position: relative;
  color: #324152;
  font-size: 14px;
}


.sitelinks-title::after {
  content: '';
  width: 29px;
  height: 5px;
  background-color: #2A6CC3;
  position: absolute;
  bottom: -5px;
  left: 17%;
  transform: translateX(-50%);
  border-radius: 2px;
}


/* Дополнение для заголовков */
h3.master-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
}

h3.about-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600;
  opacity: 0.6; /* Прозрачность 60% для заголовка "About" */
}

h3.about-title + .content p:not(:first-child) {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение текста под заголовком "About" на SemiBold */
}

h3.about-title + .content p:first-child {
  opacity: 0.6; /* Прозрачность 60% для оставшегося текста под заголовком "About" */
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение стиля первого текста под заголовком "About" на SemiBold */
}

h3.business-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600;
  opacity: 0.6; /* Прозрачность 60% для заголовка "Business relations" */
}

.tab-pane:nth-child(3) .content p {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение стиля текста под заголовком "Sitelinks" на SemiBold */
  
}

.tab-pane:nth-child(3) .content p:last-child {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: bold; /* Изменение стиля последнего текста под заголовком "Sitelinks" на Bold */
}

.tab-pane:nth-child(3) .content p:first-child{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение стиля текста под заголовком "Sitelinks" на SemiBold */
  opacity: 0.6;
}

h3.business-title + .content p:not(:first-child) {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение текста под заголовком "About" на SemiBold */
}

h3.business-title + .content p:first-child{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600; /* Изменение текста под заголовком "About" на SemiBold */
  opacity: 0.6;
}

h3.business-title + .content p:last-child {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: bold; /* Изменение текста под заголовком "About" на SemiBold */
}






