h2 {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    color: #324152;
    font-size: 28px;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 50px;
    position: relative;
    width: 40%;
  }
    
  .tab {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
  }
  
  
  .persistent-line {
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
  }
  
  .indicator {
    height: 5px;
    background-color: #2A6CC3;
    border-radius: 45px;
    transition: width 0.6s ease, margin-left 0.6s ease;
    position: absolute;
    bottom: -1px;
    left: 20px;
    width: 29px !important;
    z-index: 2;
  }
  
  .tabcontent {
    display: none;
  }
  
  .tabcontent.show {
    display: block;
  }
  
  .tab:nth-child(1) {
    margin-left: 10px; 
    font-size: 14px;
    opacity: 0.6;
    font-family: 'Inter', Arial, sans-serif; 
    font-weight: 400; 
    color: #324152;
  }
  
  .tab:nth-child(2) {
    margin-left: 50px; 
    color: #324152; 
    opacity: 0.6;
    font-family: 'Inter', Arial, sans-serif; 
    font-weight: 600;
    font-size: 14px;
  }
  
  .tab:nth-child(3) {
    margin-left: 3px; 
    color: #324152;
    opacity: 0.6;
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
  }
  
  .tab:nth-child(4) {
    margin-left: 1px; 
    color: #324152;
    opacity: 0.6;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  
  .tabcontent.master {
    font-weight: 400; 
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif; 
  }
  
  .tabcontent.about {
    color: #324152;
    font-family: 'Inter', Arial, sans-serif; 
    font-weight: 600; 
    font-size: 14px; 
  }
  .tabcontent.about p:first-child {
    color: #324152;
    font-family: 'Inter', Arial, sans-serif; 
    font-weight: 600; 
    font-size: 14px; 
    opacity: 0.6; 
  
  }
  
  .tabcontent.sitelinks {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    color: #324152;
    font-weight: bold; 
  }
  .tabcontent.sitelinks p:first-child {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    color: #324152;
    font-weight: bold; 
    opacity: 0.6;
  
  }
  
  .tabcontent.business-relations {
    color: #324152;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-weight: bold; 
  }
  
  .tabcontent.business-relations p:first-child {
    color: #324152;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-weight: bold; 
    opacity: 0.6;
  }
  
  
.tab {
  transition: color 0.3s ease, opacity 0.3s ease; 
}

.tab:hover {
  color: #324152; 
}

.tab.selected {
  color: #324152;
  opacity: 1; 
}


.tabcontent p {
  opacity: 0.6; 
}

.tabcontent.show p {
  opacity: 1; 
}
